#logo {
    width: 100px;
}

.navbar-brand {
    position: relative;
}

#cinerate-title {
    color: #FFF;
    position: absolute;
    bottom: 28px;
    font-size: 30px;
    left: 120px;
    font-weight: bold;
    transition: 1s;
}

#cinerate-title:hover {
    color: #747474;
}

#main-navbar {
    background-color: #333;
}

#search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 6px;
    width: 40%;
    margin-left: 180px;
}

#search-form .form-control {
    border: none;
    box-shadow: none;
    width: 90%;
}

#navbar {
    position: relative;
    /* Adicionado */
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #FFF;
    transition: 0.8s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #AAA;
}

.bold {
    font-weight: bold;
}

.msg-container {
    background-color: #505050;
    padding: 15px;
}

.msg {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #505050;
    text-align: center;
    border-radius: 10px;
}

.msg.error {
    color: red;
    background-color: #F8D7DA;
    border: #F5C2C7;
}

.msg.sucess {
    color: rgb(0, 94, 0);
    background-color: #a4e2a9;

    border: #095c2e;
}

/* HOME */

#main-container {
    background-color: #505050;
    color: #FFF;
    min-height: 65vh;
    padding: 40px;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#social-container ul,
#footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    line-height: 3;
    transition: .5s;
}

#social-container li:hover {
    background-color: #555;
}

#social-container a,
#footer-links-container a {
    transition: .5s;
    color: #FFF;

}

#social-container li i {
    font-size: 25px;
}

#footer-links-container {
    margin: 30px 0;
}

/* LOGIN */

/* LOGIN */

#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #1A539C;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.card-btn {
    color: #eeeeee;
    background-color: #183050;
    width: 100%;
    border: 2px solid #1A539C;
    border-radius: 10px;
    transition: .5s;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}

.card-btn:hover {
    background-color: #173a68;
    border-color: #255a9e;
}

#login-container form {
    min-width: 500px;
    margin: 30px auto;

}
#login-container h2,
#register-container h2 {
    text-align: center;
}

#register-container {
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: 0;
    max-width: 300px;
}

/* Adicione as seguintes regras */
#login-container form .form-group,
#register-container form .form-group {
    margin-bottom: 20px;
}

#login-container form .form-group label,
#register-container form .form-group label {
    display: block;
}

#register-container form {
    margin-left: 100px;
    min-width: 600px;
    

}

#login-container form .form-group input,
#register-container form .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #f5f5f5;
}

#register-container h2 {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#login-container form .form-group,
#register-container form .form-group {
    margin-bottom: 20px;
}


/* Edição de perfil */

#profile-image-container {
    width: 200px;
    height: 200px;
    border: 3px solid #1A539C;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
    transition: ease-in 2s;
}

#profile-image-container:hover {
    transform: scale(1.1);
}

.page-description {
    color: #999;
}

#bio {
    max-width: 400px;
}

.form-control:not(.disabled) {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="submit"] {
    background-color: #1A539C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0F3A6B;
}
